.card_type_home {
  padding: 12px;
  background-color: #7F9E81;
  width: 164px;
  min-height: 132px;
  position: relative;
}

.card_type_home + .card_type_home::before {
  position: absolute;
  left: -28px;
  width: 28px;
  height: 28px;
  content: '';
  background-image: url(../../../images/ArrowFatRight.png);
}

.card_type_home:last-of-type {
  margin: 0;
}
