.section__background {
  background: url(../../../images/eagle.svg) center / contain;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 740px;
  height: 814px;
}
