.form__file-button {
  position: relative;
  margin: 0 28px 0 0;
  width: 163px;
  height: 36px;
  border: 3px solid rgba(127, 158, 129, .7);
  border-radius: 30px;
}

.form__file-button:hover {
  box-shadow: rgba(127, 158, 129, .7) 0 0 1px 1px;
}
