.form__submit-button {
  margin: 0;
  width: 356px;
  height: 64px;
  border: none;
  background: #B4CAB5;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.form__submit-button:hover {
  box-shadow: #5f7760 0 0 3px 3px;
}
