.section__button {
  background: #fff;
  border: 3px solid #7F9E81;
  color: #7F9E81;
  font-size: 24px;
  line-height: 28px;
  width: 356px;
  min-height: 64px;
}

.section__button:hover {
  border-color: #5F7760;
  color: #5F7760;
  box-shadow: #5F7760 0 0 1px 1px;
}
