.form__label {
  height: 27px;
  border-radius: 10px;
  position: relative;
  left: 24px;
  top: 7px;
  background: #7F9E81;
  z-index: 1;
  align-self: flex-start;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, .7);
  padding: 4px 12px;
  box-sizing: border-box;
}
