.header__input{
	padding: 14px 44px 14px 12px;
	border-radius: 30px;
	border: 0;
	background-color:	#b4cab5;
	border: #b4cab5 1px solid;
	min-width: 212px;
}

.header__input:focus{
  outline: none;
}
