.form__input {
  width: 100%;
  min-height: 56px;
  background: #7F9E81;
  box-sizing: border-box;
  margin: 0 0 36px;
  opacity: .6;
  border: #7F9E81 1px solid;
  border-radius: 15px;
  padding: 18px 24px;
}

.form__input::placeholder {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  opacity: .4;
}

.form__input:focus {
  outline: none;
  border: #7F9E81 1px solid;
  box-shadow: #7F9E81 0 0 0 1px;
}
