.form__label_type_file {
  line-height: 36px;
  padding: 8px 22px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, .7);
  position: static;
  color: rgba(0, 0, 0, .8);
}
