.form__label_type_radio {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0 78px 0 0;
  position: static;
  padding: 0;
  max-width: 82px;
  text-align: left;
}

.form__label_type_radio:last-of-type {
  margin: 0;
}
